# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/ass1/ACoolAJAXShoppingCartImproved/dist/
/ass1/ACoolAJAXShoppingCart_1/nbproject/private/
/ass1/ACoolAJAXShoppingCart_1/build/
/ass1/ACoolAJAXShoppingCartImprovedWithJSON/nbproject/private/
/ass1/ACoolAJAXShoppingCartImprovedWithJSON/build/
/ass1/ACoolAJAXShoppingCartImprovedWithJSON/dist/
/ass1/CoolExperimentWithWebsockets/target/
/ass1/CoolExperimentWithWebsockets/nbproject/
/ass1/PhotonTracker/nbproject/private/
/ass1/PhotonTracker/dist/
/ass1/PhotonTracker/build/
/ass1/ACoolAJAXShoppingCart/dist/
/ass2/Project2Basic/nbproject/private/
/ass2/Project2Basic/dist/
/ass2/Project2Basic/build/
/ass2/MouseTrackerPublisher/nbproject/private/
/ass2/MouseTrackerPublisher/dist/
/ass2/MouseTrackerPublisher/build/
/ass2/MouseTrackerSubscriber/nbproject/private/
/ass2/MouseTrackerSubscriber/build/
/ass2/MouseTrackerSubscriber/dist/
/ass2/TemperatureSensorPProject/target/
/ass2/TemperatureSubscriberProject/target/
/ass2/TemperatureSensorProject/target/
/ass2/DiceRollingClientProject/target/
/ass2/DiceRollingMonitorProject/nbproject/private/
/ass2/DiceRollingMonitorProject/target/