# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/ass1/ACoolAJAXShoppingCartImproved/dist/
/ass1/ACoolAJAXShoppingCart_1/nbproject/private/
/ass1/ACoolAJAXShoppingCart_1/build/
/ass1/ACoolAJAXShoppingCartImprovedWithJSON/nbproject/private/
/ass1/ACoolAJAXShoppingCartImprovedWithJSON/build/
/ass1/ACoolAJAXShoppingCartImprovedWithJSON/dist/